body {
  margin: 0;
  padding: 0;
  background: #f8f9fd;
}

#container {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  padding: 1.5em;
}

.toggle-language {
  display: flex;
}

#toggle {
  width: 7em;
  height: 2.2em;
  position: relative;
  display: block;
  background-color: #e8ddbd;
  border-radius: 20px;
  cursor: pointer;
  transform: 0.5s;
}

#toggle::after {
  content: "";
  width: 3.5em;
  height: 1.9em;
  position: absolute;
  left: 2%;
  margin-top: 2%;
  background-color: #dba887;
  border-radius: 20px;
}

input {
  width: 0;
  height: 0;
  visibility: hidden;
}

input:checked + #toggle {
  background-color: #e8ddbd;
}

input:checked + #toggle::after {
  margin-left: 95%;
  transform: translateX(-100%);
  background-color: #dba887;
}

#toggle span {
  position: absolute;
  top: 25%;
  width: 120px;
  z-index: 100;
}

#toggle span.pt {
  left: 17%;
  transition: 0.5s;
}

#toggle span.en {
  left: 63%;
  transition: 0.5s;
}

#icon {
  cursor: pointer;
}

#content {
  max-width: 100%;
  height: 35em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#image__Content {
  height: 10em;
  padding-bottom: 1em;
}

#text__Content {
  font-size: 4em;
  padding-bottom: 0.5em;
  text-align: center;
}

#button__Content {
  font-size: 1.5em;
  background-color: #dba887;
  padding: 0.5em 1.5em;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.habilidade {
  height: 55%;
  background: #f8f9fd;
  padding-bottom: 3em;
}

#titulo_habilidade {
  padding-left: 2em;
  padding-top: 2em;
}

.group {
  text-align: center;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding: 0 0.5em;
  flex-wrap: wrap;
}

.card {
  background: #dfb498;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px rgba(80, 80, 80, 0.37);

  width: 9em;
  height: 9em;
  margin: 2em;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.img__Card {
  height: 70%;
}

.img__Card_C {
  height: 60%;
}

.portifolio__Content {
  position: relative;
  width: 35em;
  height: 12em;
  margin: 2em;
  background-color: #e8ddbd;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.portifolio__Content img {
  width: 40%;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.portifolio__Content:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10%;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.portifolio__Content:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.portifolio__Content:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.sobre__Content {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 3em;
  background-color: #e8ddbd;
}

#img__Sobre {
  width: 40%;
  height: 90%;
}

#image__Sobre {
  width: 90%;
  height: 90%;
}

#sobre__Info {
  width: 60%;
  padding: 2em;

  display: flex;
  flex-direction: column;
}

.titulos {
  display: flex;
  flex-direction: column;

  padding-bottom: 2em;
}

.titulo {
  padding: 0;
  margin: 0;
}

#main__Titulo {
  font-size: 2.5em;
  color: #c25848;
}

p {
  padding-bottom: 0.5em;
  font-size: 1em;
}

.elements {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topics {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 20%;
  text-align: center;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
}

.icon_Topics {
  height: 2em;
}

@media (max-width: 600px) {
  #titulo_habilidade {
    text-align: center;
    padding: 1em 0;
  }

  #text__Content {
    font-size: 2em;
    width: 70%;
    padding-bottom: 2em;
  }

  .img__Card {
    height: 60%;
  }

  .sobre__Content {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1em;
  }

  #img__Sobre {
    width: 50%;
    height: 100%;

    padding: 1em 0;
  }

  #sobre__Info {
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .titulos {
    padding: 0;
  }

  p {
    padding: 1em 0;
  }

  .elements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    align-items: center;
  }

  .topics {
    padding: 0;
    margin: 0;
    width: 90%;
    text-align: center;

    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
